{
  "Authentication": {
    "bot_token": ""
  },
  "Settings": {
    "prefix": "!",
    "debug": true,
    "delete_interval": 5000,
    "delete_invoke": true
  },
  "Permissions": {
    "global": {
      "eval": false,
      "setUsername": false,
      "alias": false,
      "aliases": true,
      "announce": false,
      "idle": false,
      "invokedel": false,
      "invokeint": false,
      "msg": true,
      "online": false,
      "prune": false,
      "ping": true,
      "say": false
    },
    "users": {
      "0000000000": {
        "alias": true,
        "aliases": true,
        "announce": true,
        "eval": false,
        "idle": true,
        "invokedel": false,
        "invokeint": false,
        "msg": true,
        "online": true,
        "ping": true,
        "prune": true,
        "say": true,
        "setUsername": true
      }
    },
    "admin": {
      "189921902553202688": true
    }
  }
}